.signIn-area {
    position: absolute;
    top: 3%;
    left: 78%;
    -webkit-transform: translate(100, -50%);
            transform: translate(190%, 10%);
    z-index: 1000;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: gray;
}

a:hover {
    color:white;
    text-decoration: none
}

.loggedIn-area {
    position: absolute;
    top: 3%;
    left: 80%;
    min-width: 200px;
    z-index: 1000;
    text-decoration: none;
    font-weight: 500;
    color: gray;
    overflow: auto;
}

.user-name {
    font-size: 25px;
}

.logoutbtn {
    position: absolute;
    top: 20%;
    left: 70%;
}

span:hover {
    color: white;
    cursor: pointer;
}
