.list-overflow-container {
  max-height: 545px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

/*.jumbotron {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}*/

.list-overflow-container {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.prediction-buttons {
  border: 1px solid black;
  font-size: 14pt;
}

a {
  font-size: 12pt;
}

img {
  height: 60px;
  width: auto;
  margin-right: 15px;
}

.pass-fail {
  height: 30px;
  width: 30px;
}

.list-group-item {
  color: darkblue;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .list-group-item:hover {
  background-color: whitesmoke;
}

.problem-list-item-pass {
  background: url('/images/pass.png') no-repeat left top;
  height: 23px;
  padding-left: 29px;
  padding-bottom: 9px;
  background-size: 20px 20px;
  filter: brightness(85%);
}

.problem-list-item-incomplete {
  height: 23px;
  padding-left: 29px;
  padding-bottom: 9px;
  background-size: 20px 20px;
}

.problem-list-shell {
  list-style-type: none;
}

h5 {
  color: darkslategray;
}