.footer {
    margin-top: 60px;
    background-color: gray;
    height: 60px;
    padding: 20px;
    position: relative;
    width: 100%;
    top:300%
}

.footerlink {
    color: white;
    text-decoration: none
}

a {
    color: white;
    text-decoration: none
}