.leaderboard {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(160%, 0%);
    width: 285px;
    height: 308px;
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
    color: rgb(97, 97, 97)
}