.leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(160%, 0%);
    width: 285px;
    height: 308px;
    background: -webkit-linear-gradient(top, #0c0c0c, #666666);
    background: linear-gradient(to bottom, #0c0c0c, #666666);
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
    color: white
}